ul {
   margin: 0;
   padding: 0;
   list-style: none;
}
li {
   padding: 20px;
   margin: 5px;
}

.wrap {
   max-width: 1200px;
}
/* theme light */
.light {
   background-color: #f8eed9;
}

.light li {
   background-color: #92d19a;
}

/* theme dark */
.dark {
   background-color: #120907;
}

/* theme pink */
.pink {
   background-color: pink;
}

/* theme sky */
.sky {
   background-color: skyblue;
}

/* theme olive */
.olive {
   background-color: olive;
}
