/* theme light */
.light {
   background-color: white;
}

/* theme dark */
.dark {
   background-color: black;
   color: white;
}

/* theme pink */
.pink {
   background-color: pink;
}

/* theme sky */
.sky {
   background-color: skyblue;
}

/* theme olive */
.olive {
   background-color: olive;
}
